<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="SV_Fragment :: head"/>
<head>
    <meta charset="UTF-8">
    <!-- Chart CSS -->
    <link rel="stylesheet" href="css/c3/c3.min.css">
    <title>Chương trình khung</title>
</head>
<head th:replace="SV_Fragment :: style-head"/>
<body>
<!-- Start Left menu area -->
<div th:replace="SV_Fragment :: frag_menu_left"/>
<!-- Content area -->
<div class="all-content-wrapper">
    <!--    Logo header mobile -->
    <div th:replace="SV_Fragment ::frag_icon_mobile"/>
    <!--    Header area -->
    <div th:replace="SV_Fragment :: frag_header"/>
    <!-- Single pro tab review Start-->
    <div class="single-pro-review-area mt-t-30 mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="sparkline12-list">
                        <div class="sparkline12-hd mg-b-30">
                            <div class="main-sparkline12-hd">
                                <h1>Học Phần Khung</h1>
                            </div>
                        </div>
                        <div class="sparkline12-graph">
                            <div class="basic-login-form-ad">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="overflow-x: auto">
                                        <div class="panel-group edu-custon-design" id="accordion">
                                            <div class="panel panel-default">
                                                <div class="panel-heading accordion-head">
                                                    <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                                        Học Kỳ 1
                                                    </h4>
                                                </div>
                                                <div id="collapse1" class="panel-collapse panel-ic collapse in">
                                                    <div class="panel-body admin-panel-content animated bounce" style="padding: 0">
                                                        <table class="table table-bordered" width="100%" style="margin-bottom: 0">
                                                            <thead>
                                                            <tr class="active">
                                                                <th style="min-width: 20px">STT</th>
                                                                <th style="min-width: 200px; text-align: center">Tên môn học/học phần</th>
                                                                <th style="min-width: 150px; text-align: center">Mã lớp học phần</th>
                                                                <th>Số Tín Chỉ</th>
                                                                <th>Số tiết LT</th>
                                                                <th>Số tiết TH</th>
                                                                <th>Đạt</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr class="row1" th:each="hpk, stt: ${hpks1}">
                                                                <td style="min-widtd: 20px" th:text="${stt.index + 1}"></td>
                                                                <td style="min-widtd: 200px; text-align: center" th:text="${hpk.getHocPhan().getMonHoc().getTenMonHoc()}"></td>
                                                                <td style="min-widtd: 150px; text-align: center" th:text="${hpk.getHocPhan().getMaHocPhan()}"></td>
                                                                <td th:text="${hpk.getHocPhan().getSoTCTH() + hpk.getHocPhan().getSoTCLT()}"></td>
                                                                <td th:text="${hpk.getSoTietLT()}"></td>
                                                                <td th:text="${hpk.getSoTietTH()}"></td>
                                                                <td th:if="${hpk.getTrangThai() == ''}"></td>
                                                                <td th:if="${hpk.getTrangThai() == 'Đạt'}">
                                                                    <i style="color: #63f34e; font-size: 20px"
                                                                       class="fa fa-check-circle"></i>
                                                                </td>
                                                                <td th:if="${hpk.getTrangThai() == 'Không đạt'}">
                                                                    <i style="color: red; font-size: 20px"
                                                                       class="fa fa-times-circle"></i>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading accordion-head">
                                                    <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                                            Học Kỳ 2
                                                    </h4>
                                                </div>
                                                <div id="collapse2" class="panel-collapse panel-ic collapse">
                                                    <div class="panel-body admin-panel-content animated bounce" style="padding: 0">
                                                        <table class="table table-bordered" width="100%" style="margin-bottom: 0">
                                                            <thead>
                                                            <tr class="active">
                                                                <th style="min-width: 20px">STT</th>
                                                                <th style="min-width: 200px; text-align: center">Tên môn học/học phần</th>
                                                                <th style="min-width: 150px; text-align: center">Mã lớp học phần</th>
                                                                <th>Số Tín Chỉ</th>
                                                                <th>Số tiết LT</th>
                                                                <th>Số tiết TH</th>
                                                                <th>Đạt</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr class="row1" th:each="hpk, stt: ${hpks2}">
                                                                <td style="min-widtd: 20px" th:text="${stt.index + 1}"></td>
                                                                <td style="min-widtd: 200px; text-align: center" th:text="${hpk.getHocPhan().getMonHoc().getTenMonHoc()}"></td>
                                                                <td style="min-widtd: 150px; text-align: center" th:text="${hpk.getHocPhan().getMaHocPhan()}"></td>
                                                                <td th:text="${hpk.getHocPhan().getSoTCTH() + hpk.getHocPhan().getSoTCLT()}"></td>
                                                                <td th:text="${hpk.getSoTietLT()}"></td>
                                                                <td th:text="${hpk.getSoTietTH()}"></td>
                                                                <td th:if="${hpk.getTrangThai() == ''}"></td>
                                                                <td th:if="${hpk.getTrangThai() == 'Đạt'}">
                                                                    <i style="color: #63f34e; font-size: 20px"
                                                                       class="fa fa-check-circle"></i>
                                                                </td>
                                                                <td th:if="${hpk.getTrangThai() == 'Không đạt'}">
                                                                    <i style="color: red; font-size: 20px"
                                                                       class="fa fa-times-circle"></i>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading accordion-head">
                                                    <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                                        Học Kỳ 3
                                                    </h4>
                                                </div>
                                                <div id="collapse3" class="panel-collapse panel-ic collapse">
                                                    <div class="panel-body admin-panel-content animated bounce" style="padding: 0">
                                                        <table class="table table-bordered" width="100%" style="margin-bottom: 0">
                                                            <thead>
                                                            <tr class="active">
                                                                <th style="min-width: 20px">STT</th>
                                                                <th style="min-width: 200px; text-align: center">Tên môn học/học phần</th>
                                                                <th style="min-width: 150px; text-align: center">Mã lớp học phần</th>
                                                                <th>Số Tín Chỉ</th>
                                                                <th>Số tiết LT</th>
                                                                <th>Số tiết TH</th>
                                                                <th>Đạt</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr class="row1" th:each="hpk, stt: ${hpks3}">
                                                                <td style="min-widtd: 20px" th:text="${stt.index + 1}"></td>
                                                                <td style="min-widtd: 200px; text-align: center" th:text="${hpk.getHocPhan().getMonHoc().getTenMonHoc()}"></td>
                                                                <td style="min-widtd: 150px; text-align: center" th:text="${hpk.getHocPhan().getMaHocPhan()}"></td>
                                                                <td th:text="${hpk.getHocPhan().getSoTCTH() + hpk.getHocPhan().getSoTCLT()}"></td>
                                                                <td th:text="${hpk.getSoTietLT()}"></td>
                                                                <td th:text="${hpk.getSoTietTH()}"></td>
                                                                <td th:if="${hpk.getTrangThai() == ''}"></td>
                                                                <td th:if="${hpk.getTrangThai() == 'Đạt'}">
                                                                    <i style="color: #63f34e; font-size: 20px"
                                                                       class="fa fa-check-circle"></i>
                                                                </td>
                                                                <td th:if="${hpk.getTrangThai() == 'Không đạt'}">
                                                                    <i style="color: red; font-size: 20px"
                                                                       class="fa fa-times-circle"></i>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading accordion-head">
                                                    <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                                        Học Kỳ 4
                                                    </h4>
                                                </div>
                                                <div id="collapse4" class="panel-collapse panel-ic collapse">
                                                    <div class="panel-body admin-panel-content animated bounce" style="padding: 0">
                                                        <table class="table table-bordered" width="100%" style="margin-bottom: 0">
                                                            <thead>
                                                            <tr class="active">
                                                                <th style="min-width: 20px">STT</th>
                                                                <th style="min-width: 200px; text-align: center">Tên môn học/học phần</th>
                                                                <th style="min-width: 150px; text-align: center">Mã lớp học phần</th>
                                                                <th>Số Tín Chỉ</th>
                                                                <th>Số tiết LT</th>
                                                                <th>Số tiết TH</th>
                                                                <th>Đạt</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr class="row1" th:each="hpk, stt: ${hpks4}">
                                                                <td style="min-widtd: 20px" th:text="${stt.index + 1}"></td>
                                                                <td style="min-widtd: 200px; text-align: center" th:text="${hpk.getHocPhan().getMonHoc().getTenMonHoc()}"></td>
                                                                <td style="min-widtd: 150px; text-align: center" th:text="${hpk.getHocPhan().getMaHocPhan()}"></td>
                                                                <td th:text="${hpk.getHocPhan().getSoTCTH() + hpk.getHocPhan().getSoTCLT()}"></td>
                                                                <td th:text="${hpk.getSoTietLT()}"></td>
                                                                <td th:text="${hpk.getSoTietTH()}"></td>
                                                                <td th:if="${hpk.getTrangThai() == ''}"></td>
                                                                <td th:if="${hpk.getTrangThai() == 'Đạt'}">
                                                                    <i style="color: #63f34e; font-size: 20px"
                                                                       class="fa fa-check-circle"></i>
                                                                </td>
                                                                <td th:if="${hpk.getTrangThai() == 'Không đạt'}">
                                                                    <i style="color: red; font-size: 20px"
                                                                       class="fa fa-times-circle"></i>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    Footer-->
    <div th:replace="SV_Fragment :: frag_footer"/>
</div>
<!-- Script-->
<div th:replace="SV_Fragment :: script"/>
<!-- c3 JS  -->
<script th:src="@{/js/c3-charts/d3.min.js}"></script>
<script th:src="@{/js/c3-charts/c3.min.js}"></script>
<script th:src="@{/js/c3-charts/c3-active.js}"></script>
<!-- tab JS  -->
<script th:src="@{/js/tab.js}"></script>
</body>
</html>