<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>In Lịch Học</title>
    <style>
        @media print {
            .visible-print {
                display: inherit !important;
            }

            .hidden-print {
                display: none !important;
            }
        }
    </style>
    <script>
        setTimeout(window.print(), 1000);
    </script>
</head>
<head th:replace="SV_Fragment :: head"/>
<head th:replace="SV_Fragment :: style-head"/>
<body>
<div class="single-pro-review-area mt-t-30 mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="sparkline12-list">
                    <div class="sparkline12-hd mg-b-30">
                        <div class="main-sparkline12-hd">
                            <h1>Kết Quả Học Tập</h1>
                            <button type="button" class="btn btn-dark" th:onfocus="window.print()"
                                    th:onclick="window.print()">In lịch
                            </button>
                        </div>
                    </div>
                    <div class="sparkline12-graph">
                        <div class="basic-login-form-ad">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="overflow-x: auto">
                                    <table class="table table-bordered" width="100%">
                                        <thead>
                                        <tr class="active">
                                            <th rowspan="2" style="min-width: 20px">STT</th>
                                            <th rowspan="2" style="min-width: 150px; text-align: center">Mã lớp học
                                                phần
                                            </th>
                                            <th rowspan="2" style="min-width: 200px; text-align: center">Tên môn
                                                học/học phần
                                            </th>
                                            <th rowspan="2">Số tín chỉ</th>
                                            <th colspan="3">Thường kỳ</th>
                                            <th rowspan="2">Giữa kỳ</th>
                                            <th rowspan="2">Thực hành</th>
                                            <th rowspan="2">Cuối kỳ</th>
                                            <th rowspan="2">Điểm tổng kết</th>
                                            <th rowspan="2">Thang điểm 4</th>
                                            <th rowspan="2">Điểm chữ</th>
                                            <th rowspan="2">Xếp loại</th>
                                            <th rowspan="2">Ghi chú</th>
                                        </tr>
                                        <tr class="active">
                                            <th>1</th>
                                            <th>2</th>
                                            <th>3</th>
                                        </tr>
                                        </thead>
                                        <tbody class="scroll">
                                        <div th:each="hksv, status: ${HKSV}">
                                            <div th:each="hk, status: ${HK}">
                                                <tr th:if="${hk.getMaHK()} == ${hksv}">
                                                    <td style="background-color: #F5F5F5; color: #0a6aa1; font-weight: bold"
                                                        colspan="15" th:text="'HK' + ${hk.getThuTuHocKy()}
                                                + '(' + ${hk.getNamBatDau()}+ '-' + ${hk.getNamKetThuc()} + ')'"></td>
                                                    <td class="hidden"></td>
                                                    <td class="hidden"></td>
                                                    <td class="hidden"></td>
                                                    <td class="hidden"></td>
                                                    <td class="hidden"></td>
                                                    <td class="hidden"></td>
                                                    <td class="hidden"></td>
                                                    <td class="hidden"></td>
                                                    <td class="hidden"></td>
                                                    <td class="hidden"></td>
                                                    <td class="hidden"></td>
                                                    <td class="hidden"></td>
                                                    <td class="hidden"></td>
                                                    <td class="hidden"></td>
                                                </tr>
                                            </div>
                                            <div th:each="kqht, status: ${KQHTs}">
                                                <tr th:if="${kqht.lopHocPhan.getHocKy().getMaHK()} == ${hksv}">
                                                    <td th:text="${status.index + 1}"></td>
                                                    <td th:text="${kqht.lopHocPhan.hocPhan.getMaHocPhan()} + ' - ' + ${kqht.lopHocPhan.getTenVietTat()}"></td>
                                                    <td th:text="${kqht.lopHocPhan.getTenLHP()}"></td>
                                                    <td th:text="${kqht.lopHocPhan.hocPhan.soTCLT}+${kqht.lopHocPhan.hocPhan.soTCTH}"></td>
                                                    <td th:style="${kqht.getDiemTK1()} <= 5.0 ? 'color: red' : 'color: black'"
                                                        th:text="${kqht.getDiemTK1()}"></td>
                                                    <td th:style="${kqht.getDiemTK2()} <= 5.0 ? 'color: red' : 'color: black'"
                                                        th:text="${kqht.getDiemTK2()}"></td>
                                                    <td th:style="${kqht.getDiemTK3()} <= 5.0 ? 'color: red' : 'color: black'"
                                                        th:text="${kqht.getDiemTK3()}"></td>
                                                    <td th:style="${kqht.getDiemGK()} <= 5.0 ? 'color: red' : 'color: black'"
                                                        th:text="${kqht.getDiemGK()}"></td>
                                                    <td th:style="${kqht.getDiemTH()} <= 5.0 ? 'color: red' : 'color: black'"
                                                        th:text="${kqht.getDiemTH()}"></td>
                                                    <td th:style="${kqht.getDiemCK()} <= 5.0 ? 'color: red' : 'color: black'"
                                                        th:text="${kqht.getDiemCK()}"></td>
                                                    <td th:style="${kqht.getDiemHe10()} <= 5.0 ? 'color: red' : 'color: black'"
                                                        th:text="${kqht.getDiemHe10()}"></td>
                                                    <td th:style="${kqht.getDiemHe4()} <= 5.0 ? 'color: red' : 'color: black'"
                                                        th:text="${kqht.getDiemHe4()}"></td>
                                                    <td th:style="${kqht.getDiemChu()} == 'F' ? 'color: red' : 'color: black'"
                                                        th:text="${kqht.getDiemChu()}"></td>
                                                    <td th:style="${kqht.getXepLoai()} == 'Kém' ? 'color: red' : 'color: black'"
                                                        th:text="${kqht.getXepLoai()}"></td>
                                                    <td th:style="${kqht.getMoTa()} == 'Học lại' ? 'color: red' : 'color: black'"
                                                        th:text="${kqht.getMoTa()}"></td>
                                                </tr>
                                            </div>
                                        </div>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>