<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>In Lịch Học</title>

    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@3.10.2/dist/fullcalendar.min.css' rel='stylesheet'/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src='https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@3.10.2/dist/fullcalendar.min.js'></script>
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@3.10.2/dist/fullcalendar.print.min.css" rel="stylesheet"
          media="print"/>

    <style>
        @media print {
            .visible-print {
                display: inherit !important;
            }

            .hidden-print {
                display: none !important;
            }
        }
    </style>
</head>

<body>
<h1 style="width: 100%; text-align: center">Lịch Học Sinh Viên</h1>
<div id='calendar'></div>
<script>
    $('#calendar').fullCalendar({
        customButtons: {
            printCalendar: {
                text: 'In lịch',
                click: function () {
                    window.print();
                }
            }
        },
        buttonText: {today: "Hôm nay"},
        header: {
            left: 'prev,next,today,printCalendar',
            center: 'title',
            right: 'agendaWeek,listWeek,month'
        },
        defaultView: 'agendaWeek',
        height: 880,
        views: {
            listWeek: {buttonText: 'Sự kiện tuần'},
            month: {buttonText: 'Tháng'},
            agendaWeek: {
                buttonText: 'Tuần',
                minTime: '6:00:00',
                maxTime: '22:00:00',
                allDaySlot: false,
            },
        },
        lang: 'vi',
        events: {
            url: '/lich-theo-tuan/lich-hoc'
        }
    })

    date = moment("[[${date}]]", "DD/MM/YYYY");
    $("#calendar").fullCalendar('gotoDate', date);
</script>
</body>

</html>