<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="SV_Fragment :: head"/>
<head>
    <meta charset="UTF-8">
    <title>Lịch Theo Tiến Độ</title>
    <style>
        .diemred {
            color: red;
            cursor: pointer;
        }

        .title-color {
            color: #1da1f2;
            font-size: 14px;
            text-align: center;
            vertical-align: middle !important;
            padding: 16px 5px;
            font-weight: 600;
        }
    </style>
</head>
<head th:replace="SV_Fragment :: style-head"/>
<body>
<!-- Start Left menu area -->
<div th:replace="SV_Fragment :: frag_menu_left"/>
<!-- Content area -->
<div class="all-content-wrapper">
    <!--    Logo header mobile -->
    <div th:replace="SV_Fragment ::frag_icon_mobile"/>
    <!--    Header area -->
    <div th:replace="SV_Fragment :: frag_header"/>
    <!-- Single pro tab review Start-->
    <div class="single-pro-review-area mt-t-30 mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="sparkline12-list">
                        <div class="sparkline12-hd mg-b-30">
                            <div class=" main-sparkline12-hd">
                                <div class="row">
                                    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                                        <h1>Lịch Theo Tiến Độ</h1>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                        <button type="button" class="btn btn btn-success btn-md"
                                                th:onclick="window.open('/ket-qua-hoc-tap/in-lich')">
                                            <span class="glyphicon glyphicon-print"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sparkline12-graph">
                            <div class="basic-login-form-ad">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="overflow-x: auto">
                                        <table class="table table-bordered" width="100%">
                                            <thead>
                                            <tr class="active">
                                                <th class="title-color" rowspan="2" style="min-width: 20px;">STT</th>
                                                <th class="title-color" rowspan="2" style="min-width: 150px;">Mã lớp học
                                                    phần
                                                </th>
                                                <th class="title-color" rowspan="2" style="min-width: 200px;">Tên môn
                                                    học/học phần
                                                </th>
                                                <th class="title-color" rowspan="2">Số tín chỉ</th>
                                                <th class="title-color" colspan="4">Thông tin lịch</th>
                                                <th class="title-color" colspan="2">Thời gian</th>
                                                <th class="title-color" rowspan="2">Mã giảng viên</th>
                                                <th class="title-color" rowspan="2">Mã giảng viên</th>
                                            </tr>
                                            <tr class="active">
                                                <th class="title-color">Thứ</th>
                                                <th class="title-color">Tiết</th>
                                                <th class="title-color">Phòng</th>
                                                <th class="title-color">Nhóm</th>
                                                <th class="title-color">Bắt đầu</th>
                                                <th class="title-color">Kết thúc</th>
                                            </tr>
                                            </thead>
                                            <tbody class="scroll">
                                            <div th:each="lich, stt: ${lichTienDo}">
                                                <tr>
                                                    <td th:text="${stt.count}"></td>
                                                    <td th:text="${lich.maLHP}"></td>
                                                    <td th:text="${lich.tenHP}"></td>
                                                    <td th:text="${lich.soTC}"></td>
                                                    <td th:text="${lich.thu}"></td>
                                                    <td th:text="${lich.tiet}"></td>
                                                    <td th:text="${lich.phong}"></td>
                                                    <td th:text="${lich.nhom=='0'?'LT':lich.nhom}"></td>
                                                    <td th:text="${lich.dateBD}"></td>
                                                    <td th:text="${lich.dateKT}"></td>
                                                    <td th:text="${lich.maGV}"></td>
                                                    <td th:text="${lich.tenGV}"></td>
                                                </tr>
                                            </div>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Script-->
<div th:replace="SV_Fragment :: script"/>
</body>
</html>