<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="SV_Fragment :: head"/>
<head>
    <meta charset="UTF-8">
    <title>Thông Tin Sinh Viên</title>
    <!-- forms CSS -->
    <link rel="stylesheet" href="css/form/all-type-forms.css">
</head>
<head th:replace="SV_Fragment :: style-head"/>
<body onload="showToast()">
<!-- Start Left menu area -->
<div th:replace="SV_Fragment :: frag_menu_left"/>
<!-- Content area -->
<div class="all-content-wrapper">
    <!--    Logo header mobile -->
    <div th:replace="SV_Fragment ::frag_icon_mobile"/>
    <!--    Header area -->
    <div th:replace="SV_Fragment :: frag_header"/>

    <!-- Start Toast area -->
    <div id="toast">
    </div>
    <span id="mes" hidden th:text="${mess}"></span>
    <span id="suc_err" hidden th:text="${suc_err}"></span>
    <!-- End Toast area -->

    <!-- Single pro tab review Start-->
    <div class="single-pro-review-area mt-t-30 mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="profile-info-inner">
                        <div class="profile-img">
<!--                            <img src="img/profile/user.png" width="100px" alt="" />-->
                        </div>
                        <div class="profile-details-hr">
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
                                    <div class="address-hr">
                                        <p><b>MSSV</b><br /><span th:text="${sinhvien.getMaSV()}"></span></p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
                                    <div class="address-hr tb-sm-res-d-n dps-tb-ntn">
                                        <p><b>Họ tên</b><br /><span th:text="${sinhvien.getTenSV()}"></span></p>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
                                    <div class="address-hr">
                                        <p><b>Giới tính</b><br /> <span th:text="${sinhvien.isGioiTinh() == true ? 'Nam' : 'Nữ'}"></span></p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
                                    <div class="address-hr tb-sm-res-d-n dps-tb-ntn">
                                        <p><b>Lớp học</b><br /> <span th:text="${sinhvien.getLopHoc().tenLop}"></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <div class="product-payment-inner-st res-mg-t-30 analysis-progrebar-ctn">
                        <ul id="myTabedu1" class="tab-review-design">
                            <li class="active"><a href="#description">Thông tin học vấn</a></li>
                            <li><a href="#reviews"> Thông tin cá nhân</a></li>
                            <li><a href="#INFORMATION">Cập nhật thông tin cá nhân</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content custom-product-edit st-prf-pro">
                            <div class="product-tab-list tab-pane fade active in" id="description">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="review-content-section">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                    <div class="address-hr biography">
                                                        <p><b>Trạng thái</b><br /> Đang học</p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                    <div class="address-hr biography">
                                                        <p><b>Lớp học</b><br /> <span th:text="${sinhvien.getLopHoc().tenLop}"></span></p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                    <div class="address-hr biography">
                                                        <p><b>Bậc đào tạo</b><br /> <span th:text="${sinhvien.getBacDaoTao()}"></span></p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                    <div class="address-hr biography">
                                                        <p><b>Khoa</b><br /> <span th:text="${sinhvien.getKhoa().tenKhoa}"></span></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                    <div class="address-hr biography">
                                                        <p><b>Chuyên ngành</b><br /> <span th:text="${sinhvien.chuyenNganh.tenChuyenNganh}"></span></p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                    <div class="address-hr biography">
                                                        <p><b>Loại hình đào tạo</b><br /> Tiên tiến</p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                    <div class="address-hr biography">
                                                        <p><b>Ngành</b><br /> <span th:text="${sinhvien.chuyenNganh.tenChuyenNganh}"></span></p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                    <div class="address-hr biography">
                                                        <p><b>Khóa học</b><br /> 2018 - 2019</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-tab-list tab-pane fade" id="reviews">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="review-content-section">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                    <div class="address-hr biography">
                                                        <p><b>Ngày sinh</b><br /> <span th:text="${#dates.format(sinhvien.getNgaySinh(), 'dd/MM/yyyy')}"></span></p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                    <div class="address-hr biography">
                                                        <p><b>Số CMND </b><br /> <span th:text="${sinhvien.getSoCMND()}"></span></p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                    <div class="address-hr biography">
                                                        <p><b>Đối tượng</b><br />...</p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                    <div class="address-hr biography">
                                                        <p><b>Ngày vào Đoàn</b><br /> ...</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                    <div class="address-hr biography">
                                                        <p><b>Điện thoại </b><br /> <span th:text="${sinhvien.getSoDienThoai()}"></span></p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                    <div class="address-hr biography">
                                                        <p><b>Địa chỉ liên hệ</b><br /> <span th:text="${sinhvien.getDiaChi()}"></span></p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                    <div class="address-hr biography">
                                                        <p><b>Nơi sinh</b><br /> ...</p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                    <div class="address-hr biography">
                                                        <p><b>Dân tộc</b><br /> ...</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                    <div class="address-hr biography">
                                                        <p><b>Tôn giáo</b><br /> ...</p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                    <div class="address-hr biography">
                                                        <p><b>Khu vực</b><br /> ...</p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                    <div class="address-hr biography">
                                                        <p><b>Diện chính sách</b><br /> ...</p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                    <div class="address-hr biography">
                                                        <p><b>Ngày vào Đảng</b><br /> ...</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                    <div class="address-hr biography">
                                                        <p><b>Họ tên Cha </b><br /> ...</p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                    <div class="address-hr biography">
                                                        <p><b>Họ tên Mẹ </b><br /> ...</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-tab-list tab-pane fade" id="INFORMATION">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <form th:action="@{/thong-tin-sinh-vien}" method="post" th:object="${sinhvien}">
                                            <div class="review-content-section">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <input hidden type="text" th:field="*{maSV}">
                                                        <input type="hidden" th:field="*{password}">
                                                        <input type="hidden" th:field="*{roleName}">
                                                        <input type="hidden" th:field="*{{ngayVaoTruong}}">
                                                        <input type="hidden" th:field="*{bacDaoTao}">
                                                        <input type="hidden" th:field="*{lopHoc.maLop}">
                                                        <input type="hidden" th:field="*{chuyenNganh.maChuyenNganh}">
                                                        <input type="hidden" th:field="*{khoa.maKhoa}">
                                                        <input type="hidden" th:field="*{tenSV}">
                                                        <div class="form-group">
                                                            <label>Căn cước / CMND</label>
                                                            <input type="text" class="form-control" value="" th:field="*{soCMND}">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Giới tính</label>
                                                            <div style="margin-top: 10px;">
                                                                <input type="radio" value="" th:field="*{gioiTinh}"
                                                                       th:value="true">&nbsp;Nam
                                                                &nbsp;&nbsp;
                                                                <input type="radio" value="" th:field="*{gioiTinh}"
                                                                       th:value="false">&nbsp;Nữ
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Số điện thoại</label>
                                                            <div><input type="text" value="" th:field="*{soDienThoai}"
                                                                        class="form-control" placeholder="Ví dụ: XXXX XXX XXX">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Ngày sinh</label>
                                                            <div>
                                                                <input type="date" value="" th:field="*{{ngaySinh}}"
                                                                       class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Email</label>
                                                            <div>
                                                                <input type="text" value="" th:field="*{email}"
                                                                       class="form-control" placeholder="Ví dụ: abc@gmail.com">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Địa chỉ</label>
                                                            <div>
                                                                <input type="text" value="" th:field="*{diaChi}"
                                                                       class="form-control"
                                                                       placeholder="Ví dụ: 123/45 tên đường, quận, phường, tỉnh ">
                                                            </div>
                                                        </div>
<!--                                                        <div class="file-upload-inner ts-forms">-->
<!--                                                            <div class="input prepend-big-btn">-->
<!--                                                                <label class="icon-right" for="prepend-big-btn">-->
<!--                                                                    <i class="fa fa-download"></i>-->
<!--                                                                </label>-->
<!--                                                                <div class="file-button">-->
<!--                                                                    Browse-->
<!--                                                                    <input type="file" onchange="document.getElementById('prepend-big-btn').value = this.value;">-->
<!--                                                                </div>-->
<!--                                                                <input type="text" id="prepend-big-btn" placeholder="no file selected">-->
<!--                                                            </div>-->
<!--                                                        </div>-->
                                                    </div>
                                                </div>
                                                <div class="row mg-t-15">
                                                    <div class="col-lg-12">
                                                        <div class="payment-adress">
                                                            <button type="submit" class="btn btn-primary waves-effect waves-light">Cập nhật</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Script-->
<div th:replace="SV_Fragment :: script"/>
</body>
</html>