<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="SV_Fragment :: head"/>
<head>
    <meta charset="UTF-8">
    <title>Tính điểm</title>
</head>
<head th:replace="SV_Fragment :: style-head"/>
<body>
<!-- Start Left menu area -->
<div th:replace="SV_Fragment :: frag_menu_left"/>
<!-- Content area -->
<div class="all-content-wrapper">
    <!--    Logo header mobile -->
    <div th:replace="SV_Fragment ::frag_icon_mobile"/>
    <!--    Header area -->
    <div th:replace="SV_Fragment :: frag_header"/>
    <!-- Single pro tab review Start-->
    <div class="single-pro-review-area mt-t-30 mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="sparkline12-list">
                        <div class="sparkline12-hd mg-b-30">
                            <div class="main-sparkline12-hd">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <h2>Tính điểm môn học</h2>
                                    </div>
                                    <form action="/tinh-diem-mon-hoc/tinh-diem" method="POST">
                                        <div class="col-2-diem">
                                            <input class="effect-7" type="text" th:name="TCLT" required
                                                   placeholder="Số tín chỉ lý thuyết">
                                            <span class="focus-border"><i></i></span>
                                        </div>
                                        <div class="col-2-diem">
                                            <input class="effect-7" type="text" th:name="TCTH"
                                                   placeholder="Số tín chỉ thực hành">
                                            <span class="focus-border"><i></i></span>
                                        </div>
                                        <div class="col-2-diem">
                                            <input class="effect-7" type="text" th:name="DiemTK1" required
                                                   placeholder="Điểm thường kỳ 1">
                                            <span class="focus-border"><i></i></span>
                                        </div>
                                        <div class="col-2-diem">
                                            <input class="effect-7" type="text" th:name="DiemTK2"
                                                   placeholder="Điểm thường kỳ 2">
                                            <span class="focus-border"><i></i></span>
                                        </div>
                                        <div class="col-2-diem">
                                            <input class="effect-7" type="text" th:name="DiemTK3"
                                                   placeholder="Điểm thường kỳ 3">
                                            <span class="focus-border"><i></i></span>
                                        </div>
                                        <div class="col-2-diem">
                                            <input class="effect-7" type="text" th:name="DiemGK" required
                                                   placeholder="Điểm giữa kỳ">
                                            <span class="focus-border"><i></i></span>
                                        </div>
                                        <div class="col-2-diem">
                                            <input class="effect-7" type="text" th:name="DiemTH1"
                                                   placeholder="Điểm thực hành 1">
                                            <span class="focus-border"><i></i></span>
                                        </div>
                                        <div class="col-2-diem">
                                            <input class="effect-7" type="text" th:name="DiemTH2"
                                                   placeholder="Điểm thực hành 2">
                                            <span class="focus-border"><i></i></span>
                                        </div>
                                        <div class="col-2-diem">
                                            <input class="effect-7" type="text" th:name="DiemCK" required
                                                   placeholder="Điểm cuối kỳ">
                                            <span class="focus-border"><i></i></span>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6"></div>
                                        <div class="col-2-diem">
                                            <input class="btn btn-custon-four btn-primary" type="submit"
                                                   value="Tính điểm">
                                            <span class="focus-border"><i></i></span>
                                        </div>
                                    </form>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="col-2-diem">
                                                <input class="effect-7" type="text" th:value="${diemTongKet}"
                                                       placeholder="Điểm tổng kết" disabled>
                                                <span class="focus-border"><i></i></span>
                                            </div>
                                            <div class="col-2-diem">
                                                <input class="effect-7" type="text" th:value="${diemHe4}"
                                                       placeholder="Thang điểm 4" disabled>
                                                <span class="focus-border"><i></i></span>
                                            </div>
                                            <div class="col-2-diem">
                                                <input class="effect-7" type="text" th:value="${diemChu}"
                                                       placeholder="Điểm chữ" disabled>
                                                <span class="focus-border"><i></i></span>
                                            </div>
                                            <div class="col-2-diem">
                                                <input class="effect-7" type="text" th:value="${xepLoai}"
                                                       placeholder="Xếp loại" disabled>
                                                <span class="focus-border"><i></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- Script-->
    <div th:replace="SV_Fragment :: script"/>
</body>
</html>